.dice circle{
    fill: rgb(150, 6, 6);
}
.circles g{
    transition: all 1s ease-in-out;
    transform-origin: 100px 100px;
}
.circles:hover g{
    transform: rotate(2turn);
    fill: rgb(145, 57, 10);
}